$mainBlue: #3268be;
$darkerBlue: #275091;
$lighterBlue: #4178cf;
$complimentary: #fd9c47;
$complimentary-light: #ffb06b;
$white: #ffffff;
$headerHeight: 10rem;
$imgPadding: 1rem;
$imgPaddingMobile: $imgPadding / 1.5;
$headerHeightMobile: $headerHeight / 1.5;
$maxWidth: 1400px;
$callUsHeight: 2rem;

body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 28;
}

// Hider
.poof {
    display: none;
}

#callUs {
    z-index: 10;
    background-color: $mainBlue;
    height: $callUsHeight;
    line-height: $callUsHeight;
    text-align: center;
    color: $white;
}

#wrap-header {
    z-index: 10;
    width: 100%;
    height: $headerHeight;
    background-color: $white;
    box-shadow: 3px 1px 5px rgba(0,0,0,.4);
    position: relative;
    header {
        height: $headerHeight;
        margin: 0 auto;
        max-width: $maxWidth;
        width: 100%;
        img {
            padding: $imgPadding;
            height: $headerHeight - ($imgPadding * 2);
            float: left;
        }
        ul {
            float: right;
            height: $headerHeight;
            // background-color: red;
            margin: 0 auto;
            padding: 0;
            list-style: none;
            li {
                display: block;
                position: relative;
                height: $headerHeight;
                padding: 0 2rem;
                line-height: $headerHeight;
                float: right;
                font-size: 1.25rem;
                a {
                    text-decoration: none;
                    color: #000000;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
$bodyHeaderHeight: 30rem;
$ctaHeight: 3rem;
$ctaWidth: 8rem;
#wrap-body {
    margin: 0 auto;
    //max-width: $maxWidth;
    width: 100%;
    height: $bodyHeaderHeight;
    background-color: transparent;
    section {
        position: relative;
        height:$bodyHeaderHeight;
        background-position: center;
        background-color: $lighterBlue;
        background-size: cover;
        //background-image: url('../images/carpet-cleaning-header2.png');
        button {
            height: $ctaHeight;
            width: $ctaWidth;
            cursor: pointer;
            position: relative;
            //left: 50%;
            left: calc(50% - 4rem);
            background-color: $complimentary;
            top: ($bodyHeaderHeight / 2)-($ctaHeight / 2);
            border-radius: 4px;
            border: 1px solid $darkerBlue;
            box-shadow: 0px 0px 14px -1px $darkerBlue;
            a {
                color: $white;
                text-shadow:1px 1px 0px grey;
                text-decoration: none;
                display: inline-block;
                height: $ctaHeight;
                line-height: $ctaHeight*0.99;
            }
        }
        button:hover {
            background-color: $complimentary-light;
        }
        p {
            position: absolute;
            width: 100%;
            text-align: center;
        }
    }
}

// Mobile mode
@media only screen and (max-width: 600px) {
    #wrap-header {
        height: $headerHeightMobile !important;
        li {
            padding: 0 !important;
            padding-right: 1rem !important;
            line-height: $headerHeightMobile !important;
            font-size: 1.25rem !important;
        }
        img {
            padding: $imgPaddingMobile !important;
            height: $headerHeightMobile - ($imgPaddingMobile * 2) !important;
        }
    }
    #wrap-body {
        #cta {
            left: calc(50% - 4rem);
        }
    }
}